<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MyFlaskApp</title>
        <link rel="stylesheet" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    </head>
    <body style="margin-top: 0px">
        <div>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark"> 
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link">Admin Login<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        {% include 'includes/_messages.html' %}
        <section id="cover">
            <div id="cover-caption">
                <div id="container" class="container">
                    <div class="row text-white">
                        <div class="col-sm-6 offset-sm-3 text-center">
                            <h1 class="display-4">Bootstrap 4</h1>
                            <div class="info-form">  
                                <form action="/admin" method="POST" style = "background-color: #f1f1f1; padding: 20px;"
                                class="container center_div"> 
                                    <h3 style="color: black;">User Login</h3>
                                    <div class="form-group" >
                                        <input style = "font-size: 18px;
                                                width: 50%;
                                                text-align: left;
                                                margin-top: 10px;
                                                padding: 3px;
                                                " type="text" placeholder = "Username" name="username" id="username"
                                                value={{request.form.username}}
                                                 >
                                    </div>
                                    <div class="form-group">
                                        <input style = "font-size: 18px;
                                                width: 50%;
                                                padding: 3px;"
                                                type="password" placeholder = "Password" 
                                                name="password" value={{request.form.password}}
                                                **("class" : "form-control", "arai-described-by":"passwordHelpBlock")
                                                >
                                    </div>
                                    <div> 
                                        <a href = "/forgotPassword" style = "text-align: left;
                                        font-size: 12px;margin-left: -150px;" class="help-block">Forgot Password?</a>
                                    </div>
                                    <button type="submit" class="btn btn-success" style = "margin-top: 10px; width: 50%">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html> 