{% extends 'layout.html' %}

{% block body %}
    <h1 style="padding-top: 20px">Records</h1>
   	<hr>

   	<table class = "table table-striped">
   		<tr>
   			<th>ID</th>
            <th>Name</th>
   			<th>Title</th>
   			<th>Hardness</th>
   			<th>Chlorine</th>
   			<th>Iron</th>
            <th>Copper</th>
            <th>Lead</th>
            <th>Nitrate</th>
            <th>Nitrite</th>
            <th>Alkalinity</th>
            <th>pH</th>
            <th>Posted</th>
            <th>Action</th>
   		</tr>
   		{% for record in records %}
   			<tr>
   				<td>{{record.id}}</td>
   				<td>{{record.username}}</td>
   				<td>{{record.title}}</td>
               <td>{{record.hardness}}</td>
               <td>{{record.free_chlorine}}</td>
               <td>{{record.iron}}</td>
               <td>{{record.copper}}</td>
               <td>{{record.lead}}</td>
               <td>{{record.nitrate}}</td>
               <td>{{record.nitrite}}</td>
               <td>{{record.alkalinity}}</td>
               <td>{{record.ph}}</td>
               <td>{{record.posted_on}}</td>
               <td>
               <form action="{{url_for('delete_record', id = record.id)}}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="Delete" class="btn btn-danger">
               </form>
               </td>
   			</tr>
   		{% endfor %}
   	</table>
{% endblock %}